# ==========================================
# DEPENDENCIAS PRINCIPALES - TFG RISK SCORING
# ==========================================

# Interfaz de Usuario y Despliegue
streamlit>=1.35.0
pyarrow

# Manipulación de Datos y Análisis Estadístico
pandas>=2.0.0
numpy>=1.24.0
scipy
openpyxl
ucimlrepo

# Visualización Gráfica
matplotlib
seaborn
plotnine
statsmodels
plotly

# Machine Learning Tradicional
scikit-learn>=1.4.0
xgboost>=2.0.0

# Deep Learning (Red Neuronal)
tensorflow>=2.15.0
scikeras>=0.13.0

# Computación Paralela (Malla de Modelos)
dask
dask-ml
distributed